<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Os Lusíadas Digital</title>
</head>
<body>
    <h1>Bem-vindo aos Lusíadas Digital!</h1>
    <p>Esta é a página inicial do seu projeto.</p>
    <nav>
        <ul>
            <li><a href="{% url 'homepage:index' %}">Início</a></li>
            <li><a href="{% url 'text:canto_list' %}">Texto da Obra</a></li>
            <li><a href="{% url 'iconography:index' %}">Iconografia</a></li>
            <li><a href="{% url 'author:index' %}">Sobre o Autor</a></li>
            <li><a href="{% url 'project_info:index' %}">Sobre o Projeto</a></li>
        </ul>
    </nav>
</body>
</html>