<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Os Lusíadas Digital{% endblock %}</title>
    {# Aqui você pode incluir seus arquivos CSS globais #}
    {# <link rel="stylesheet" href="{% static 'css/style.css' %}"> #}
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'homepage:index' %}">Início</a></li>
                <li><a href="{% url 'text:canto_list' %}">Texto da Obra</a></li>
                <li><a href="{% url 'iconography:index' %}">Iconografia</a></li>
                <li><a href="{% url 'author:index' %}">Sobre o Autor</a></li>
                <li><a href="{% url 'project_info:index' %}">Sobre o Projeto</a></li>
            </ul>
        </nav>
        <hr>
    </header>

    <main>
        {% block content %}
            {# O conteúdo específico de cada página será inserido aqui #}
        {% endblock %}
    </main>

    <footer>
        <hr>
        <p>&copy; 2023 Os Lusíadas Digital. Todos os direitos reservados.</p>
    </footer>

    {# Aqui você pode incluir seus arquivos JavaScript globais #}
    {# <script src="{% static 'js/main.js' %}"></script> #}
</body>
</html>