{% load static %}
    <!-- Head -->
        {% include 'blocos/head.html' %}
    <head>
        <link href="{% static 'css/homepage.css' %}" rel="stylesheet" >  
    </head>
<body>
    <div class="main-container">
        <!-- Imagem -->
        <div class="image-section">
            <div class="image-overlay">
                <p class="descricao_img">Camões Lendo Os Lusíadas (1927)<br>António Carneiro </p>
            </div>
        </div>

        <!-- Menu -->
        <div class="menu-section">
            <div class="title-container">
                <h1>Os Lusíadas</h1>
                <h2>Luís Vaz de Camões</h2>
            </div>

            <nav class="nav-menu">
                <a href="#" class="nav-item">Texto</a>
                <a href="#" class="nav-item">Imagens</a>
                <a href="{% url 'autor' %}" class="nav-item">Autor</a>
                <a href="{% url 'sobre' %}" class="nav-item">Sobre o Projeto</a>
            </nav>
        </div>
    </div>
</body>
</html>